
body { 
    background-color:turquoise;
color: rgb(17, 66, 109);
background-image: linear-gradient(turquoise, white, turquoise, blue)

}

h1{
text-align: center;
font-size: 70px;
text-shadow: navy;
text-shadow: 30px;
}

nav {
    background-color: blue;
    border: 15px solid rgb(247, 244, 244);
    text-align: center;
    
}

p {
    font-size: 25px;
}

.container {
    display: block;
    background-color: rgb(64, 203, 190);
    padding: 10px;
}
button
{
background-color: gray ;
color: white;
width: 275px;
height: 100px;
margin: 20px 40px;
box-shadow: 30px, 30px, 30px;
}

/* .containter >div:nth-child();
border: 10px solid 
background-color:  */

main{
display: flex;
flex-direction: column;

}

div{
    display: flex-box;
    flex-direction: column;
    padding: 60px;
    background-color: whitesmoke;
    box-sizing: border-box 30px;
    border: 15px solid rgb(214, 94, 94);
    width: 25%;
    
}

#app-1{
    background-color: aquamarine;
    width: 50%;
    display: block;
}

#app-2{
background-color: magenta;

}

#app-3{
background-color: purple;

}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

@media screen and (max-width: 992px) {
    
    button{
      width: 20%;
      margin: 20px 20px;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    button{
      width: 50%;

    }
    

  }

  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }